.form {
	display: flex;
	gap: 4px;
}

.field {
	border-radius: 10px;
	background-color: #3cac8b97;
	flex-grow: 1;
	padding: 8px;
	color: var(--main-text);
	font: inherit;
	border: none;
	outline: none;
	border: 1px solid transparent;
	transition: all 0.3s ease 0s;
	resize: vertical;
}

.field::placeholder {
	color: var(--main-text);
}

.field:focus {
	border: 1px solid rgb(237, 132, 251);
}
