.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.39);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.3s ease 0s;
	pointer-events: none;
}

.overlay.active {
	pointer-events: all;
	opacity: 1;
	transition: all 0.3s ease 0s;
}

.modalContent {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-150%, 0);
	transition: all 0.3s ease 0s;
}
.modalContent.active {
	transform: translate(0, 0);
	transition: all 0.3s ease 0s;
}
