@import-normalize; /* bring in normalize.css styles */
:root {
	--main-text: #edc085;
	--accent-color: #8e209a;
	--blue: #86bdf5;
}

body {
	margin: 0;
	background-color: rgb(76, 69, 84);
	color: var(--main-text);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
